<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="/favicon.ico">

  </head>
  <body>

  <h1 id="loader" class="glow" style="display:none;"></h1>

	<section id="questionContainer" class="fadeIn">
		<div class="container">
      <h1 id="title">The InDecider</h1>
			<input type="text" id="question" placeholder="Please type a yes or no question..." autofocus>
      <button id="submit" class="button"><i class="fa fa-cog"></i>Submit</button>
		</div>
	</section>

  <section id="answerContainer" style="display:none;">
		<div class="container">
			<h1 id="answer" class="fadeIn"></h1>
      <button id="newQuestion" class="button fadeIn">Ask Again</button>
		</div>
	</Container>

    <script src="javascripts/main.js"></script>
  </body>
</html>
