<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </head>
  <body>
	
	
	<section id="questionSection" class="">
		<div class="question-container">
			<textarea id="question" placeholder="Please type a yes or no question..." autofocus></textarea>
			<button id="submit">Submit</button>
		</div>
	</section>
	
	<section id="answerSection" class="">
		<div class="answer-container">
			<h1 id="answer" class="fadeIn"></h1>
			<button id="newQuestion">New Question</button>
		</div>
	</section>

    <script src="javascripts/main.js"></script>
  </body>
</html>
