<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="/favicon.ico">

  </head>
  <body>

  <h1 id="loader" class="glow" style="display:none;"></h1>

	<section id="questionContainer" class="fadeIn">
		<div class="container">
      <h1 id="title">The InDecider</h1>
			<input type="text" id="question" placeholder="Please type a yes or no question..." autofocus>
      <button id="submit" class="button"><i class="fa fa-cog"></i>Submit</button>
		</div>
	</section>

  <section id="answerContainer" style="display:none;">
		<div class="container">
			<h1 id="answer" class="fadeIn"></h1>
      <button id="newQuestion" class="button fadeIn">Ask Again</button>
		</div>
	</section>
  <div class="made-by">
    <a href='https://www.thebriceisright.com' rel="noopener noreferrer" target='_blank'>
      <svg version="1.1" class="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 144 144" style="enable-background:new 0 0 144 144;" xml:space="preserve">
        <g>
        	<rect x="26.2" y="26.2" class="st0" width="91.6" height="13.1"/>
        	<rect x="26.2" y="52.4" class="st0" width="39.3" height="13.1"/>
        	<path class="st0" d="M136.8,0H0v144h136.8c4,0,7.2-3.2,7.2-7.2V85.7c0-4-3.2-7.2-7.2-7.2H26.2v13.1h104.7v39.3H13.1V13.1h117.8
        		v39.3H78.6v13.1h58.2c4,0,7.2-3.2,7.2-7.2V7.2C144,3.2,140.8,0,136.8,0z"/>
        	<rect x="26.2" y="104.7" class="st0" width="39.3" height="13.1"/>
        	<rect x="78.5" y="104.7" class="st0" width="39.3" height="13.1"/>
        </g>
      </svg>
    </a>
  </div>
    <script src="javascripts/main.js"></script>
  </body>
</html>
